* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html {
    font-size: 100%;
}

/* Body ================================================================== */

body {
    font-family: "Poppins", sans-serif;
}

/* Logo ================================================================== */

#centro {
    position: fixed;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 2rem;
    position: relative;
    color: #fff;
    overflow-x: auto;
}

#ultimate {
    display: flex;
    margin-right: 2rem;
}

#menu {
    display: flex;
}

h3 {
    padding-left: 1rem;
}

/* Conteudo ================================================================== */

main {
    text-align: center;
    align-items: center;
}


.container {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 90%;
    overflow-y: auto;
}

#download {
    position: relative;
    color: rgb(4, 161, 4);
}

#card {
    font-size: 25px;
    padding-bottom: 3rem;
    color: rgb(4, 161, 4);
}


#texto {
    overflow-wrap: auto;
    width: 200px;
    height: 100px;
    color: rgb(4, 161, 4);
    text-align: center;
    z-index: 1;
}

/* Botton ==================================================================== */
.botão {
    padding: 0;
    background: rgb(66, 200, 149);
    border-radius: 20px;
    border-top: 20px;
    border-right: 20px;
    border-bottom: 20px;
    border-left: 20px;

    cursor: pointer;
}
  

.botão:hover {
    background: rgb(83, 245, 183);
}

a {
    color: #fff;
    text-decoration: none;
}

/* Media =================================================================== */

@media (min-width: 800px){
    html {
        font-size: 87.5%;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}